# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Generated native folders (Managed workflow)
/ios
/android

# Native build / credentials
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# System files (macOS / Windows)
.DS_Store
Thumbs.db

# Environment variables
.env*.local

# TypeScript
*.tsbuildinfo